{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Date</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                <td>{{ application.author }}</td>
                <td>{% if application.date %}{{ application.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ application.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('application_show', { 'id': application.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('application_edit', { 'id': application.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
